<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title: lenguaje C</title>
</head>
<body>
<p>
	C es un lenguaje de programación originalmente desarrollado por Dennis Ritchie entre 1969 y 1972 en los Laboratorios Bell,2​ como evolución del anterior lenguaje B, a su vez basado en BCPL.

	Al igual que B, es un lenguaje orientado a la implementación de Sistemas operativos, concretamente Unix. C es apreciado por la eficiencia del código que produce y es el lenguaje de programación más popular para crear software de sistemas, aunque también se utiliza para crear aplicaciones.

	Se trata de un lenguaje de tipos de datos estáticos, débilmente tipificado, de medio nivel, ya que dispone de las estructuras típicas de los lenguajes de alto nivel pero, a su vez, dispone de construcciones del lenguaje que permiten un control a muy bajo nivel. Los compiladores suelen ofrecer extensiones al lenguaje que posibilitan mezclar código en ensamblador con código C o acceder directamente a memoria o dispositivos periféricos.

	La primera estandarización del lenguaje C fue en ANSI, con el estándar X3.159-1989. El lenguaje que define este estándar fue conocido vulgarmente como ANSI C. Posteriormente, en 1990, fue ratificado como estándar ISO (ISO/IEC 9899:1990). La adopción de este estándar es muy amplia por lo que, si los programas creados lo siguen, el código es portable entre plataformas y/o arquitecturas.


</p>
<p>
	Lenguaje de programación C. También conocido como “Lenguaje de programación de sistemas” desarrollado en el año 1972
	por Dennis Ritchie para UNIX un sistema operativo multiplataforma. El lenguaje C es del tipo lenguaje estructurado como
	son Pascal, Fortran, Basic. Sus instrucciones son muy parecidas a otros lenguajes incluyendo sentencias como
	if, else, for, do y while... . Aunque C es un lenguaje de alto nivel (puesto que es estructurado y posee sentencias
	y funciones que simplifican su funcionamiento) tenemos la posibilidad de programar a bajo nivel
	( como en el Assembler tocando los registros, memoria etc. ). Para simplificar el funcionamiento de el lenguaje C
	tiene incluidas librerías de funciones que pueden ser incluidas haciendo referencia la librería que las incluye,
	es decir que si queremos usar una función para borrar la pantalla tendremos que incluir en nuestro programa la
	librería que tiene la función para borrar la pantalla.


	Ventaja del lenguaje
	La programación en C tiene una gran facilidad para escribir código compacto y sencillo a su misma vez.
	En el lenguaje C no tenemos procedimientos como en otros lenguajes solamente tenemos funciones los procedimientos
	los simula y esta terminante mente prohibido escribir funciones , procedimientos y los comandos en mayúscula todo
	se escribe en minúsculas (a no ser las constantes J )
	Los archivos en la C se escriben en texto puro de ASCII del Dos si se escribe en WORD por ejemplo el mismo incluye
	muchos códigos no entendidos por el compilador y generara errores ;
	una vez escrito se debe pasar a compilar el archivo; los archivos tienen 2 Extensiones archivo.
	C que es el archivo a compilar el que contiene todas los procedimientos funciones y código de nuestro programa
	y archivo.h que es las librerías que contienen las funciones de nuestro programa.
	(NOTA : El compilador genera Archivos con extensión .EXE).
	Cada instrucción que pasemos a poner en C va segida de un punto y coma para decirle al compilador que hasta ahí
	llega la instrucción simula un Enter del teclado.
	Ejemplo de codigo: clrscr();

</p>


Textos objetivo de Wikipedia & https://www.ecured.cu/Lenguaje_de_Programaci%C3%B3n_C
</body>
</html>